geckodriver.log
.vscode/settings.json
Ξold_misc/SetDefaultPrinter/mass_printer_add_set_default.ps1
geckodriver.log
ping_list/ping_list.txt
printer_multitool/add_printer.txt
profile_deleter/DelProf2.exe
profile_deleter/delete_profiles.txt
Ξold_misc/elevator.bat
Ξold_misc/input_test.ps1
Ξold_misc/list_test.ps1
Ξold_misc/old_profile_deleter.ps1
Ξold_misc/view_current_user.ps1
Ξold_misc/SetDefaultPrinter/Documentation.htm
Ξold_misc/SetDefaultPrinter/SetDefaultPrinter.ps1
Ξold_misc/SetDefaultPrinter/Documentation_files/colorschememapping.xml
Ξold_misc/SetDefaultPrinter/Documentation_files/filelist.xml
Ξold_misc/SetDefaultPrinter/Documentation_files/image001.png
Ξold_misc/SetDefaultPrinter/Documentation_files/image002.png
Ξold_misc/SetDefaultPrinter/Documentation_files/themedata.thmx
desktop.ini
list_input.ps1
